<div class="container">
	<% if @user.try(:role) == "admin" %>
		<%= link_to "Back" , admin_topics_path , :class => "btn btn-danger btn-lg pull-right" %>
	<% end %>
	<h2>Forum</h2>
	
	<%= form_tag topics_path , :method => :get do %>
		<%= text_field_tag "search" , nil , size: 50 %>
		<%= submit_tag "Search Tag" , :class => "btn btn-info" %>
		<%= link_to "About" , about_topics_path , :class => "btn btn-default pull-right" %>
	<% end %>

	<div class="check_box">
		<% @categories.each do |c| %>
			<%= link_to c.name , topics_path(:keyword => c) , :class => "btn btn-warning" %>
		<% end %>
		<%= link_to "Default" , topics_path , :class => "btn btn-warning" %>
	</div>
	<br>
	<div class="sort">
		<%= link_to "Sort by last Reply" , topics_path( :order => "Update" , :keyword => @search_by ) , :class => "btn btn-primary" %>
		<%= link_to "Sort by Count of Reply" , topics_path( :order => "Reply" , :keyword => @search_by ) , :class => "btn btn-primary" %>
		<%= link_to "Sort by Count of Views" , topics_path( :order => "Views" , :keyword => @search_by ) , :class => "btn btn-primary" %>
		<%= link_to "Sort by Default" , topics_path(:keyword => @search_by ) , :class => "btn btn-primary" %>
	</div>
	<br>
	<%= link_to "New" , new_topic_path , :class => "btn btn-success btn-lg" %>
	<br>
	<%= paginate @topics %>
	

	<table class="table table-striped">
		<tr>
			<th>subject</th>
			<th>Writer</th>
			<th>Coverer</th>
			<th>Last turnover time</th>
			<th>Overturn</th>
			<th>viewing count</th>
		</tr>
		
		<% @topics.each do |t| %>
			<%# users = t.comments.includes(:user).pluck("user_id").uniq%>
			<% comment_users = [] %>
			<% t.comments.each do |comments| %>
				<% comment_users.push(comments.user.email) %>
			<% end %>
			<% comment_users.uniq! %>
			
			<tr>
				<td><%= link_to t.title , topic_path(t) %></td>
				<td><%= link_to t.user.email , user_path(t.user) %></td>
				<td>
					<% comment_users.each do |user| %>
						<%= user %>
					<% end %>
				</td>
				<% if params.try(:order) == 'Update' %>
					<td><%= t.comments.last.try(:created_at) %></td>
				<% else %>
					<td><%= t.comments.first.try(:created_at) %></td>
				<% end %>
				<td><%= t.comments_count %></td>
				<td><%= t.views_count %></td>
			</tr>
		<% end %>
	</table>
</div>
	

