<div id="topic_index" class="container">
	<br>
	<%= link_to "Back To List" , topics_path , :class => "btn btn-primary pull-right" %>
	<br><br>

	<% if current_user %>
		<%= render :partial => "current_control" %>
	<% end %>
	<br>	
	<div class="users">
		<h3 class="text-center">Followed users</h3>
		<% @favorite_users.each do |user| %>
			<%= user.email %> <p>	</p>
		<% end %>
	</div>

	<% if @topic.limit.id != 3 %>
		<%= form_for @comment , :url => topic_comments_path(@topic , @comment) , :remote => true do |f| %>
			<%= render :partial => "comment_form" , :locals => {:f => f} %>
		<% end %>
	<% end %>

	<div class="clearfix"></div>
		<%= form_for @topic do |f|  %>
			<div class="btn">
				<% if current_user == @topic.user %>
					<%= link_to "Delete" , topic_path(@topic) , :method => :delete , :class => "btn btn-danger" %>
					<%= link_to "Edit" , edit_topic_path(@topic) , :class => "btn btn-success" %>
				<% end %>
			</div>

			<div class="images text-center">
				<% @images.each do |image| %>
					<%= image_tag image.image.url(:medium) %>
				<% end %>
			</div>

			<div class="form-group">
			<%= f.label :title , "Title : " %>
			<%= f.text_field :title ,  :disabled => "disabled" , :class => "form-control" %>
			</div>
			<div class="form-group">
			<h3><%= @topic.user.email %></h3>
			<p><%= @topic.created_at %></p>
			</div>
			<div class="form-group">
			<%= f.label :content , "Content : " %>
			<%= f.text_area :content , :rows => "20" , :disabled => "disabled" , :class => "form-control" %>
			</div>
		<% end %>


	<div class="form-group">
		<% @comments.each do |c| %>
			<%= form_for c , :url => "" do |f| %>
				<% if c.user == current_user %>
					<%= link_to "Edit" , edit_topic_comment_path(@topic , c) , :class => "btn btn-success" %>
					<%= link_to "Delete" , topic_comment_path(@topic , c) , :method => :delete , :class => "btn btn-danger" , :remote => true %>
				<% end %>
				<h2>Reply : </h2>
					<% if c.avatar.url != "/images/original/missing.png" %>
					<div class="form-group text-center">
						<%= image_tag c.avatar.url %>
					</div>
				<% end %>
				<h3><%= c.user.email %></h3>
				<p><%= c.created_at %></p>
				<%= f.label :content , "Content : " %>
				<%= f.text_area :content , :rows => "20" , :disabled => "disabled" , :class => "form-control" %>
			<% end %>
		<% end %>
	</div>

	
</div>
	